.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .5rem;
}

a{
    text-decoration: none;
    color: #395A5F;
}
@media screen and (max-width: 500px)  {


    .contact div {
       flex-direction: column;
    }


}