.hero_section__title{
    margin-top: 1rem;
}
.hero_section__title h1{
    margin: 0;
    font-size: 3rem;
}
.hero_section__title h1 span{
    color: #395A5F;
}


.hero_section__description{
    text-align: justify;
    margin: 1rem 4rem;
    font-size: 1.3rem;
}

@media screen and (max-width: 500px) {
    .hero_section{
        width: 100%;
    }

    .hero_section__description{
        width: 100%;
        margin:0;


    }
}

.hero_section__button{
 margin-top: 1rem;
}