.card{
    border: 1px solid #395A5F;
    border-radius: 30px;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    align-self:stretch;
    transition: transform .3s ease-in-out;

}

.card:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}
.card a {
    text-decoration: none;
    color: inherit;
    display: block;
    overflow: hidden;
}

.card a img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: auto;
    max-width: 100%;
    display: block;
    vertical-align: middle;
    transition: transform .4s ease-in-out;



}

.card__content{
    padding: 1rem;
}
.card__content__title{
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
}
.card__content__title h4{
    margin: 0 .4rem .4rem .4rem;
    color: #395A5F;
}