.about {
    text-align: center;
    margin: auto;
}

.about__title {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Style pour les traits horizontaux */
.about__title__trait {
    border: .15rem solid #395A5F; /* Vous pouvez personnaliser la couleur et l'épaisseur du trait ici */
    width: 5rem;
}

/* Style pour le texte dans le h1 */
.about__title h2 {
    padding: 0 10px; /* Ajoute un peu d'espace autour du texte du h1 */
    font-size: 1.8rem;
}

@media screen and (max-width: 720px ) {

    .about__title__trait {
        width: 2rem;
    }
}

.paragraph--left,
.paragraph--right {
    padding: 1rem;

}

.paragraph--left p,
.paragraph--right p{
    text-align: justify;
}
.paragraph--left img,
.paragraph--right img{
    max-width: 400px;
    border-radius: 30px;
}
.paragraph--left img{
    float: left;
    margin-right: 30px;
}

.paragraph--right img{
    float: right;
    margin-left: 30px;
}

@media screen and (max-width:720px ) {
    .paragraph--left img,
    .paragraph--right img{
        float: none;
        margin-right: 0;
        margin-left: 0;
        max-width: 100%;

    }
}