.contact-infos{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem;



}

.contact-infos__content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;

}

@media screen and (max-width: 986px) {
    .contact-infos{
        width: 100%;
    }
}

