.menu-burger {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 758px) {

    .menu-burger {
        display: block;
        order: 3;
        border: none;
        background: none;

    }
}