nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

}


.menu a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    border-bottom: #fff solid 0.4rem;
    position: relative;

    &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 0;
        height: 3px;
        background: rgba(76, 106, 111, 1);
        transition: width .3s;
    }

}

.menu a.active {
    border-bottom: #395A5F solid .3rem;

}

.menu a:hover {
    &::after {
        width: 100%;


    }
}

@media screen and (max-width: 758px) {
    .menu {
        display: none;
    }


}