/*Menu responsive */
.responsive-menu{
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 99;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    background-color: white;
    transition: left 0.3s ease-in-out;
}
.responsive-menu.open{
    left: 0;
}
.responsive-menu__closeBtnBox{
    display: flex;
    justify-content: flex-end;
}
.responsive-menu__closeBtn{
    margin-right: 5rem ;
    margin-top: 4rem;
    height: 2rem;
    width: 2rem;
    border: none;
    background: none;
    cursor: pointer;
}
.responsive-menu__closeBtn img {
    width: 40px;
}

.responsive-menu nav{
    position: fixed;
    height: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.responsive-menu nav div{
    padding: 1rem 3rem;
}

.responsive-menu nav div a{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    text-decoration: none;
    color: #395A5F;
    cursor: pointer;
    &.active{
        border-bottom: #395A5F solid .3rem;
    }
}

