.card{
    border: 1px solid #395A5F;
    border-radius: 30px;
    max-width: 24rem;
    display: flex;
    flex-direction: column;
    align-self:stretch;
}

.card:hover{
    & a img{

    }
}
.card a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.card a img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: auto;
    max-width: 100%;
    display: block;
    vertical-align: middle;

}

.card__content{
    padding: 1rem;
}
.card__content__title{
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0;
}
.card__content__title h5{
    margin: 0 .4rem .4rem .4rem;
}